<%!
  import locale
  import time
  from r2.lib.template_helpers import format_number
  from r2.lib.filters import safemarkdown
%>
<%namespace file="utils.html" import="timestamp, _md, text_with_links" />

<%def name="stat(key, text, title=None)">
  <%
    text_start, text_end = [unsafe(safemarkdown(s.strip(), wrap=False))
                            for s in text.split('%(value)s')]
  %>
  <div class="stat stat-${key}">
    <div>${text_start}</div>
    <div class="value">${format_number(thing.stats[key])}</div>
    <div>
    %if title:
      <div class="metric" title="${title}">${text_end}</div>
    %else:
      ${text_end}
    %endif
    </div>
  </div>
</%def>

<div class="definition">
  <div class="info">
    <strong>reddit</strong><em>noun, verb</em>
    <p class="etc">redd&middot;it, redd&middot;it&middot;ing; see redditor, subreddit</p>
  </div>
  <div class="entries">
    <p><em>noun</em> a type of online community where users vote on content</p>
    <p><em>verb</em> to take part in a reddit community</p>
  </div>
</div>
<div class="quote">
  <blockquote><a href="${thing.quote['url']}">&ldquo;${thing.quote['body']}&rdquo;</a></blockquote>
  <div class="credit">
    &mdash;<a href="${thing.quote['author_url']}" class="author">${thing.quote['author']}</a>,&nbsp;${timestamp(thing.quote['date'], thing.quote['date'].strftime('%D'))}
  </div>
  <div class="via">
    ${text_with_links(_('submitted by %(user)s'),
        user=dict(
          link_text=thing.quote['via'],
          path=thing.quote['via_url'],
          _class='user'
        )
    )}
    <a class="${thing.quote['comment_class']}" href="${thing.quote['permalink']}">${thing.quote['comment_label']}</a>
  </div>
</div>
<div id="slideshow">
  <div class="image">
    <img class="current" src="${thing.images[0]['src']}" alt="${thing.images[0]['title']}" />
  </div>
  <div class="info">
    <span class="controls">
      <button class="prev">&lsaquo;</button>
      <span class="count"><span class="current-index">1</span>&#32;/&#32;<span class="total">${len(thing.images)}</span></span>
      <button class="next">&rsaquo;</button>
    </span>
    <span class="description">
      <a class="title" href="${thing.images[0]['url']}">${thing.images[0]['title']}</a>
      &#32;by
      &#32;<a class="author" href="${thing.images[0]['author_url']}">${thing.images[0]['author']}</a>
    </span>
    <span class="via">
      ${text_with_links(_('submitted by %(user)s'),
          user=dict(
            link_text=thing.images[0]['via'],
            path=thing.images[0]['via_url'],
            _class='user'
          )
      )}
      <a class="${thing.images[0]['comment_class']}" href="${thing.images[0]['permalink']}">${thing.images[0]['comment_label']}</a>
    </span>
  </div>
</div>
<h2>${_('how reddit works')}</h2>
<div class="howitworks inner">
  <div class="voting">${_md('**redditors vote** on which stories and discussions are important. the hottest stories rise to the top, while cooler stories sink.')}</div>
  <div class="comments">${_md('**comments can be posted on every story** on reddit. comments add information, context, and humor.')}</div>
  <div class="communities">${_md('**anyone can create a community** (called "subreddits"). each subreddit is independent and moderated by a team of volunteers.')}</div>
  <div class="opensource">${_md('**reddit is open source**. community members are constantly tinkering and contributing features, bug fixes, and translations back to the site.')}</div>
</div>
%if thing.stats:
<h2>${_('stats at a glance')}
  <% datestr = time.strftime('%b %d, %Y', time.localtime(thing.stats['timestamp'])) %>
  <span class="stats-timestamp">&#32;(${_('as of %(value)s') % dict(value=datestr)})</span>
</h2>
<div class="statsgrid inner">
  <div class="line month">
    ${stat('uniques_last_month', _('**last month**, reddit had %(value)s unique visitors'))}
    ${stat('country_count_last_month', _('hailing from over %(value)s different countries'))}
    ${stat('pageviews_last_month', _('viewing a total of %(value)s pages'))}
  </div>
  <div class="line yesterday">
    ${stat('subreddits_active_yesterday', _('**yesterday**, reddit powered %(value)s active communities'), _('communities with at least 5 posts or comments yesterday'))}
    ${stat('redditors_visited_yesterday', _('consisting of over %(value)s logged in redditors'), _('logged-in redditors yesterday'))}
    ${stat('vote_count_yesterday', _('casting over %(value)s votes'))}
  </div>
</div>
%endif
<h2>${_('history')}</h2>
<div id="history" class="inner">
  <span class="bglabel org">org</span>
  <span class="bglabel culture">culture</span>
  <ol class="events">
    %for event in thing.events:
      <li class="event ${event['class']}">
        <a class="event-content" href="${event['url']}" target="_blank">
          ${timestamp(event['date'], event['date'].strftime('%D'))}&#32;<span class="title">${event['title']}</span>
        </a>
      </li>
    %endfor
  </ol>
</div>
