## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2014
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
from pylons import g, c
from r2.lib.template_helpers import static
from r2.lib.filters import safemarkdown
%>

<%namespace file="utils.html" import="md, _md" />

<%def name="selfserve_section(css_class='')">
  <section class="${css_class}">
    <div class="container">
      ${caller.body()}
    </div>
  </section>
</%def>

<div class="selfserve">
  <header class="selfserve-banner">
    <div class="container">
      <nav>
        ${unsafe(thing.nav_menu)}
      </nav>
      %if thing.banner:
        <div class="selfserve-banner-content">
          <div class="row">
            <div class="col-8">
              <div class="selfserve-banner-text">
                <h1>${thing.banner.title}</h1>
                &#32;${md(thing.banner.text)}
              </div>
            </div>
            <div class="col-4">
              <a href="${thing.create_ad_url}" class="create-ad-button primary-button button">${_("create an ad")}</a>
              <small>${_("budget larger than $30k?")}<br>
              <a href="https://redditadvertising.typeform.com/to/OiZLa5">${_("contact our sales team")}</a></small>
            </div>
          </div>
        </div>
      %endif
    </div>
    <div class="selfserve-banner-illustration">
      <div class="container">
        <div class="selfserve-air-dancer-snoo-graphic"></div>
        <div class="selfserve-genuine-engagement-graphic"></div>
        <div class="selfserve-flexible-platform-graphic"></div>
        <div class="selfserve-passionate-communities-graphic"></div>
      </div>
    </div>
  </header>

  %if thing.info:
    <%self:selfserve_section css_class="selfserve-info">
      <h2>${thing.info.title}</h2>
      <div class="row">
        %for blurb in thing.blurbs:
          <div class="col-4">
            <div class="selfserve-blurb">
              <h3>${blurb.title}</h3>
              ${md(blurb.text)}
            </div>
          </div>
        %endfor
      </div>
    </%self:selfserve_section>
  %endif

  %if thing.advertisers:
    <%self:selfserve_section css_class="advertiser-logos">
      <h2>${thing.advertisers.title}</h2>
      <ul>
        %for advertiser in thing.advertiser_logos:
          <li class="advertiser-logo">
            <a href="${advertiser.url}" title="${advertiser.name}">
              <img src="${advertiser.image_url}" width="100" height="75" />
            </a>
          </li>
        %endfor
      </ul>
      %for quote in thing.quotes:
        <blockquote>
          ${md(quote.text)}
          <small>${quote.cite} &#32;<a href="${quote.url}" title="${quote.source}">${quote.source}</a></small>
        </blockquote>
      %endfor
    </%self:selfserve_section>
  %endif

  %if thing.subreddit:
    <%self:selfserve_section css_class="selfserve-subreddit">
      <h2>${thing.subreddit.title}</h2>
      <div class="selfserve-subreddit-links">
        %for link in thing.subreddit_links:
          ${link}
        %endfor
      </div>
    </%self:selfserve_section>
  %endif

  %if thing.help:
    <%self:selfserve_section css_class="selfserve-help">
      <h2>${thing.help.title}</h2>
      ${md(thing.help_text)}
    </%self:selfserve_section>
  %endif

  <%self:selfserve_section css_class="call-to-action">
    <span>${_("ready to get started?")}</span>
    <a href="${thing.create_ad_url}" class="create-ad-button primary-button button">${_("create an ad")}</a>
  </%self:selfserve_section>
</div>
