<%!
  from r2.lib.template_helpers import static
%>
<h2>${_('logo assets')}</h2>
<div class="assets">
  <div class="asset">
    <a href="${static('about/assets/reddit-alien.png')}"><img src="${static('about/assets/reddit-alien-small.png')}" alt="reddit alien" /></a>
    <ul class="files">
      <li><a href="${static('about/assets/reddit-alien.svg')}" class="vector">reddit-alien.svg</a></li>
      <li><a href="${static('about/assets/reddit-alien.png')}" class="raster">reddit-alien.png</a></li>
    </ul>
  </div>

  <div class="asset">
    <a href="${static('about/assets/reddit-logo.png')}"><img src="${static('about/assets/reddit-logo-small.png')}" alt="reddit alien" /></a>
    <ul class="files">
      <li><a href="${static('about/assets/reddit-logo.svg')}" class="vector">reddit-logo.svg</a></li>
      <li><a href="${static('about/assets/reddit-logo.png')}" class="raster">reddit-logo.png</a></li>
    </ul>
  </div>
</div>

<h2>${_('logo usage guidelines')}</h2>
<div class="logo-guidelines inner">
  <div class="licensing-notice">
    <h3>We require a&#32;<a href="/help/licensing">license</a>&#32;to use these logos in anything outside reddit, both for free and for profit.</h3>
    <p>(this is necessary to maintain our trademark and to protect redditors from rogue apps &amp; websites)</a>
</div>
  <ul>
    <li>Before using the alien or reddit logo,&#32;<em>please review our&#32;<a href="/help/licensing">licensing guidelines</a>.</em></li>
    <li>Remember: "reddit" is always lowercase.</li>
    <li>The alien's eyes are&#32;<span style="color:#ff4500">#ff4500</span>, not orangered!</li>
  </ul>
</div>

<h2>${_('color guide')}</h2>
<div class="colors">
%for name, color in thing.colors:
  <div class="color">
    <div class="swatch" style="background-color:${color}" title="${name}"></div>
    <div class="info">
      <span class="color-code">${color}</span>
      <strong class="color-name">${name}</strong>
    </div>
  </div>
%endfor
</div>
