<div class="container">
  <div class="image-container">
    <div class="angel-snoo-graphic"></div>
  </div>
  <div class="core-values-container">
    <h1>
      These are our core values.
      <br />
      They guide us when making decisions.
    </h1>
    <ol class="core-values">
      <li class="core-value" id="remember-the-human">
        <h3>1. Remember the human</h3>
        <ul class="value-detail">
          <li>Be authentic, passionate, and empathetic.</li>
          <li>Treat others as you would in person, and remember we all make mistakes.</li>
          <li>Champion diversity.</li>
          <li>Default to transparency, and when you can&rsquo;t be transparent, be honest.</li>
        </ul>
      </li>
      <li class="core-value" id="give-people-voices">
        <h3>2. Give people voices</h3>
        <ul class="value-detail">
          <li>Create a safe space to encourage participation.</li>
          <li>Embrace diversity of viewpoints.</li>
          <li>Allow freedom of expression.</li>
          <li>Be stewards, not dictators. The community owns itself.</li>
        </ul>
      </li>
      <li class="core-value" id="respect-anonymity">
        <h3>3. Respect anonymity and privacy</h3>
        <ul class="value-detail">
          <li>You are not required to share more than you are comfortable with.</li>
          <li>Having information doesn't give you a license to use it.</li>
          <li>Allow people to be as anonymous as they choose, including ourselves.</li>
          <li>Value the candor afforded by anonymity.</li>
        </ul>
      </li>
      <li class="core-value" id="embrace-experimentation">
        <h3>4. Embrace experimentation</h3>
        <ul class="value-detail">
          <li>Don't let "that's the way it's always been done" be a reason.</li>
          <li>Seek new ways to be better.</li>
          <li>Be willing to try new things and fail.</li>
          <li>But remember wheels don't always need reinventing.</li>
        </ul>
      </li>
      <li class="core-value" id="deliberate-decisions">
        <h3>5. Make deliberate decisions</h3>
        <ul class="value-detail">
          <li>Make all decisions within the framework of larger goals.</li>
          <li>It's better to make an unpopular, deliberate decision than to make a consensus decision on a whim.</li>
          <li>Consciously explore options and impacts of potential paths.</li>
          <li>Voice disagreement; acknowledge that dissension is okay.</li>
        </ul>
      </li>
      <li class="core-value" id="be-doers">
        <h3>6. Be doers</h3>
        <ul class="value-detail">
          <li>Turn ideas into actions and get things done.</li>
          <li>Don't be paralyzed by the status quo.</li>
          <li>Find the balance between perfection and progress.</li>
          <li>Build for the future and leave things better than you found them.</li>
        </ul>
      </li>
      <li class="core-value" id="spirit-of-the-lambeosaurus">
        <h3>7. The&nbsp;<a href="http://www.redditblog.com/2014/01/important-reddit-announcement.html">spirit of Lambeosaurus</a>&nbsp;embiggens us all</h3>
        <ul class="value-detail">
          <li>Work is better when you're having fun.</li>
          <li>Don't take ourselves too seriously.</li>
          <li>Celebrate the good: recognize successes and reward accomplishments.</li>
          <li>There must be four subpoints to each value.</li>
        </ul>
      </li>
    </ol>
  </div>
</div>